%h2 Project Name: #{@project.name}
%button.bg-color-red
  = link_to 'Delete This Project', [@project], method: :delete, class: 'btn btn-danger'

.tiles
  %a.tile.icon.bg-color-green{href: projects_path}
    .tile-content
      %h1.icon-large.icon-lab
    .brand
      .name
        Projects
  %a.tile.icon.bg-color-orange{href: edit_project_path(@project)}
    .tile-content
      %h1.icon-large.icon-pencil
    .brand
      .name
        Edit Project Name
  %a.tile.icon.bg-color-blue{href: new_project_user_path(@project)}
    .tile-content
      %h1.icon-large.icon-user
    .brand
      .name
        Add A User

  %a.tile.icon.bg-color-yellow{href: new_project_epic_path(@project)}
    .tile-content
      %h1.icon-large.icon-star-2
    .brand
      .name
        Add An Epic

Points
= @project.points
%table
  %thead
    %tr
      %th Epic Name
      %th &nbsp;
    %tbody.epics
      - @project.epics.each do |epic|
        %tr.epic
          %td
            %a.tile.icon.bg-color-yellow{href: project_epic_path(@project, epic)}
              .tile-content
                %h1.icon-large.icon-star-2
              .brand
                .name
                  = epic.name
          %td
            %button.bg-color-red
              = link_to 'Delete an Epic', [@project, epic], method: :delete, class: 'btn btn-danger'
            %button.bg-color-orange
              = link_to 'Edit an Epic', [:edit, @project, epic], class: 'btn btn-primary'
%table
  %thead
    %tr
      %th Project Users
      %th &nbsp;
    %tbody.persons
      - @project.users.each do |user|
        - if user.nickname
          %tr.person{id: user.nickname}
            %td= link_to user.nickname.titleize, [:edit, @project, user]
            %td
              = link_to 'Delete user', [@project, user], method: :delete, class: 'btn btn-danger'
